<div class="sub-nav sub-nav-large">
    <div class="sub-nav-content">
        <ul>
            <li class="sub-nav-item ">
                <div>
                    <a href="/customers/products/mobile/tariffs/details/vse-za-900/" title="<%=text0%>"
                    class="card-family-item">

                        <span class="card-family-item-title"><%=text0%></span>

                        <!--<span class="highway-mark  group-icon"></span>-->
                    </a>

                </div>
            </li>
            <li class="sub-nav-item ">
                <div>
                    <a href="/customers/products/mobile/tariffs/details/vse-za-900-postoplatnyy/"
                    title="<%=text1%>" class="card-family-item">

                        <span class="card-family-item-title"><%=text1%></span>

                        <!--<span class="highway-mark  group-icon"></span>-->
                    </a>

                </div>
            </li>
        </ul>
    </div>
</div>
