<style>
    .exp-load {
        position: absolute;
        background: white;
        width: 100%;
        height: 100%;
        z-index: 11;
        margin: -18px 0px 0px 0px;
    }
</style>
<div class="exp-load">
    <div class="load" style="">
        &nbsp;
    </div>
</div>
