<td>
    <div class="exp-absolute "> 
        <div class="exp-share-icon">
            <span><%=v0%></span>
            <div class="exp-share-note">можно&nbspделиться</div>
        </div>
    </div>
</td>

<td>
    <div class="exp-absolute " style="display:<%=display%>;">
        <div class="<%=usecls%>">
            <span><%=v1%></span>
            <div style="display:<%=usecls%>" class="exp-share-note">можно&nbspделиться</div>
        </div>
    </div>
</td>
<td>
</td>
