<div class="devices selection toggle" id="tariffDeviceButtons">
    <ul>
        <li data-action="" data-linkaction="/customers/products/mobile/tariffs/index/cellphone/"
        data-active="1" class="active" data-id="cellphone" data-selector=".devicecellphone"
        style="width: 171.15px;">
            <img src="//static.beeline.ru/upload/dpcupload/contents/314/main-mob_phone.png"><span>Мобильный телефон<a data-id="cellphone" href="/customers/products/mobile/tariffs/index/cellphone/"></a></span>
        </li>
        <li data-action="" data-linkaction="/customers/products/mobile/tariffs/index/planshet/"
        data-id="planshet" data-selector=".deviceplanshet" data-active="0" style="width: 103.95px;">
            <img src="//static.beeline.ru/upload/dpcupload/contents/314/main-tablet.png"><span>Планшет<a data-id="planshet" href="/customers/products/mobile/tariffs/index/planshet/"></a></span>
        </li>
        <li data-action="" data-linkaction="/customers/products/mobile/tariffs/index/usb-modem/"
        data-id="usb-modem" data-selector=".deviceusb-modem" data-active="0" style="width: 120.75px;">
            <img src="//static.beeline.ru/upload/dpcupload/contents/314/main-usb.png"><span>USB-модем<a data-id="usb-modem" href="/customers/products/mobile/tariffs/index/usb-modem/"></a></span>
        </li>
    </ul><span class="tab-tail" style="left: 97.8333px; display: none;"></span>
</div>
