<div class="align" style="padding-top: 18px">

    <span class="button exp-b-go"><span class="btn-link ">Перейти</span></span>  <span>
    <span class="form-note exp-b-backet"><em><span class="dynamic ">Добавить в корзину</span>
    </em>
    </span>

    </span>
</div>
