<div>
    <style>
        .exp-block {
            float: left;
            padding: 0px 30px 0px 0px;
            margin: 0px 0px 0px -8px;
        }
        .exp-text {
            float: right;
            width: 120px;
            color: #979797;
        }
        .exp-wrapper {
            display: block;
            padding: 0px 0px 60px 0px;
        }
        .exp-text span {
            float: left;
            border-bottom: 1px dashed #999999;
            text-decoration: none;
        }
        .exp-pointer {
            cursor: pointer;
        }
    </style>


    <div class="exp-wrapper">
        <div class="exp-block exp-pointer" id="exp-4g" style="display: <%=d0%>">
            <img src="<%=name0%>" alt="">
            <div class="exp-text"><span>4G безлимитно</span>  <span>и бесплатно</span>
            </div>
        </div>
        <div class="exp-block" id="exp-whatsup" style="display: <%=d1%>">
            <img src="<%=name1%>" alt="">
            <div class="exp-text"><div>WhatsApp</div>  <div>безлимитно</div>
            </div>
        </div>
        <div class="exp-block" id="exp-allrf" style="display: <%=d2%>">
            <img src="<%=name2%>" alt="">
            <div class="exp-text"><div>Интернет доступен</div><div> по всей РФ</div>
            </div>
        </div>
    </div>
</div>
