<style>
    .exp-btn-wrap {
        text-align: center;
    }
</style>
<div class="exp-popup-content">
    <h3>Безлимитный и бесплатный интернет 4G</h3> 
    <p>Смотрите бесплатно и неограниченно видеоролики, слушайте музыку и скачивайте
        фильмы на высокой скорости 4G интернета! Только убедитесь, что ваше устройство
        и SIM-карта поддерживают стандарт 4G (значок 4G или LTE должен отображаться
        в верхней части экрана, когда вы в сети 4G).</p>
    </br>
    <p>Вы можете бесплатно поменять вашу старую SIM-карту без поддержки 4G на новую,
        а также приобрести смартфон или планшет по привлекательной цене с поддержкой
        сети 4G в любом офисе «Билайн» или в интернет-магазине.</p>
    </br>
    <div class="exp-btn-wrap">
        <input class="hidden" id="exp-popup-btn" type="button" />
    </div>
</div>
