<style>
    .exp-wrapper {
        margin: 10px 0px 10px 150px;
        height: 70px;
        line-height: 1.2;
        font-family: officinaserifcbold, sans-serif;
    }
    .exp-block {
        float: left;
        min-width: 179px;
    }
    .exp-img-wrapper {
        float: left;
    }
    .exp-img-wrapper img {
        width: 64px;
    }
    .card .catalog-list-card .card-info-families.all-families .info .img {
        width: 190px;
        padding-top: 14px;
        padding-left: 27px;
    }
    .card .catalog-list-card .card-info-families.all-families .info .img img {
        height: 120px;
        text-align: center;
    }
    .exp-text {
        padding: 10px;
    }
    .catalog-list-card .card-info-families.all-families .info .summary {
        margin-left: 195px;
        padding-top: 22px;
        padding-bottom: 0px;
    }
</style>


<div class="exp-wrapper">
    <div class="exp-block">
        <div class="exp-img-wrapper">
            <img src="http://static.beeline.ru/upload/images/beeline-4g-logo-all-without_line-02.jpg"
            alt="4G" title="4G интернет на всех тарифах">
        </div>
        <div class="exp-text">4G интернет</br>на всех тарифах</div>
    </div>
    <div class="exp-block" style="width:300px;">
        <div class="exp-img-wrapper">
            <img src="http://static.beeline.ru/upload/images/whatsapp_ico.png" alt="WhatsApp"
            title="Бесплатный и безлимитный трафик в WhatsApp">
        </div>
        <div class="exp-text">Бесплатный и безлимитный трафик</br>в WhatsApp</div>
    </div>
</div>
