<table class="last">
    <colgroup>
        <col width="auto">
            <col width="auto">
                <col width="auto">
                <col width="auto">
    </colgroup>
    <tbody>

        <tr>
            <td colspan="2">
                <div class="table-special-fold">
                    Максимальное количество номеров, которые можно добавить к тарифу
                </div>
            </td>
            <td class="price">
                <span>5</span>
                <span class="note"> номеров</span>
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <div class="table-special-fold">
                    Абонентская плата
                </div>
            </td>
            <td class="price">
                <span><%=price%></span>
                <span class="note">руб. в месяц</span>
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <div class="table-special-fold">
                    Стоимость перехода на тариф
                </div>
            </td>
            <td class="price">
                <span>0</span>
                <span class="note">руб.</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="table-special-fold">
                    Стоимость добавления номера к тарифу
                </div>
            </td>
            <td class="price">
                <span>0</span>
                <span class="note">руб.</span>
            </td>
        </tr>

    </tbody>
</table>
