<div>
    <style>
        .exp-block {
            float: left;
            padding: 0px 30px 0px 0px;
            margin: 0px 0px 0px -8px;
        }
        .exp-text {
            float: right;
            width: 120px;
            color: #979797;
        }
        .exp-wrapper {
            display: block;
            padding: 0px 0px 50px 0px;
        }
    </style>


    <div class="exp-wrapper">
        <div class="exp-block" id="exp-4g" style="display: <%=d0%>">
            <img src="<%=name0%>" alt="">
            <div class="exp-text">4G безлимитно и бесплатно</div>
        </div>
        <div class="exp-block" id="exp-whatsup" style="display: <%=d1%>">
            <img src="<%=name1%>" alt="">
            <div class="exp-text">WhatsApp безлимитно</div>
        </div>
        <div class="exp-block" id="exp-allrf" style="display: <%=d2%>">
            <img src="<%=name2%>" alt="">
            <div class="exp-text">Интернет доступен по всей РФ</div>
        </div>
    </div>
</div>
