<style>
    .exp-card-link {
    }
    .exp-tarif-block {
            padding: 0px 24px 0px 0px;
        float: left;
    }
    .exp-block {
        margin: 4px 24px 3px 0px;
    }
</style>
<div class="sub-nav sub-nav-large">
    <div class="sub-nav-content" style="display:<%=type400_200%>">
        <ul>
            <li class="sub-nav-item exp-tarif-block">
                <div class="exp-block">
                    <a href="/customers/products/mobile/tariffs/details/<%=tarif0%>/" title="<%=text0%>"
                    class="card-family-item ">

                        <span class="card-family-item-title"><%=text0%></span>

                        <!--<span class="highway-mark  group-icon"></span>-->
                    </a>

                </div>
            </li>
            <div class="sub-nav-item exp-item exp-card-link">
                <div>
                    <!--<span class="card-family-item-title"><%=text2%></span>-->
                    <a href="/customers/products/mobile/tariffs/details/<%=tarif2%>/" title="<%=text1%>"
                    class="card-family-item">

                        <span class="card-family-item-title"><%=text2%></span>

                        <!--<span class="highway-mark  group-icon"></span>-->
                    </a>

                    </br>
                    <span class="card-family-item-title"><%=textd2%></span>
                </div>
            </div>
            <!--<li class="" style="display:<%=b2%>">-->
            <!--<a href="/customers/products/mobile/tariffs/details/<%=tarif2%>-postoplatnyy/"-->
            <!--title="<%=text1%>" class="">-->

            <!--<span class="card-family-item-title"><%=text2%></span>-->

            <!--<span class="hlliiighway-mark  group-icon"></span>-->
            <!--</a>-->

            <!--</li>-->

        </ul>
    </div>
    <div class="sub-nav-content" style="display:<%=typeother%>">
        <ul>
            <li class="sub-nav-item">
                <div>
                    <a href="/customers/products/mobile/tariffs/details/<%=tarif0%>/" title="<%=text0%>"
                    class="card-family-item ">

                        <span class="card-family-item-title"><%=text0%></span>

                        <!--<span class="highway-mark  group-icon"></span>-->
                    </a>

                </div>
            </li>
            <li class="sub-nav-item exp-item" style="display:<%=b1%>">
                <div>
                    <a href="/customers/products/mobile/tariffs/details/<%=tarif1%>-postoplatnyy/"
                    title="<%=text1%>" class="card-family-item">

                        <span class="card-family-item-title"><%=text1%></span>

                        <!--<span class="hlliiighway-mark  group-icon"></span>-->
                    </a>

                </div>
            </li>
        </ul>
    </div>
</div>
