




<div class="card">
    <div class="catalog-list-card">
        <div class="card-info-families all-families">
            <div class="info">

                <div class="img">
                    <a href="/customers/vse-family/">
                        <img title="ВСЁ!" alt="ВСЁ!" src="//static.beeline.ru/upload/images/seb_ninja.png">
                    </a>
                </div>
                <div class="summary">
                    <h3>
                        <a href="/customers/vse-family/">
                         ВСЁ! для семьи 
                        </a>
                    </h3>
                    <h5>Безлимитные и бесплатные звонки в сети «Билайн» даже в роуминге и по межгороду, интернет, минуты, SMS</h5>
                    <h5><span style="color: #282828;" class="share-icon">На всех тарифах можно делиться общим счетом и всеми пакетам</span></h5>
                </div>
            </div><!-- info -->
            <div class="rate">
                <div class="card-group">
                    <div class="card-group-item " >


                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 900
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="share-icon">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-900/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
7&nbsp;Гб в месяц
                </td>
                <td>
1000&nbsp;мин.
                </td>
                <td>
500&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="b3322197-d481-49fc-aa54-20834ef5bfef" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            <tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 1500
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="share-icon">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-1500/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
10&nbsp;Гб в месяц
                </td>
                <td>
2000&nbsp;мин.
                </td>
                <td>
1000&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="qc5d0a5a-7b6b-4dab-9c84-7f623f02612e" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 2700
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="share-icon">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-2700/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
15&nbsp;Гб в месяц
                </td>
                <td>
4000&nbsp;мин.
                </td>
                <td>
3000&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="f2d99fcc-8116-447e-8e67-944588c77531" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    </div>

                </div>
                        <div class="card-footer">

                        </div>

            </div>
    </div>
</div>

</div>



                    <div class="card">
            <div class="catalog-list-card">
                <div class="card-info-families all-families">
                    <div class="info">

                        <div class="img">
                            <a href="/customers/products/mobile/tariffs/details/vse-za-200/">
                                <img title="ВСЁ!" alt="ВСЁ!" src="//static.beeline.ru/upload/dpcupload/contents/342/tariff-card-26.jpg">
                            </a>
                        </div>
                        <div class="summary">
                            <h3>
                                <a href="/customers/products/mobile/tariffs/details/vse-za-200/">
                                    ВСЁ!
                                </a>
                            </h3>
                            <h5>Безлимитные и бесплатные звонки в сети «Билайн» даже в роуминге и по межгороду, интернет, минуты, SMS</h5>
                            <h5><span >На всех тарифах можно делиться интернетом</span></h5>
                        </div>
                    </div><!-- info -->
                    <div class="rate">
                        <div class="card-group">
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 200
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-200/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
1&nbsp;Гб в месяц
                </td>
                <td>

                </td>
                <td>

                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="a0333f61-3529-433a-becf-b3a07167ac26" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 400
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-400/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
2&nbsp;Гб в месяц
                </td>
                <td>
400&nbsp;мин.
                </td>
                <td>
100&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="q88308a9-f9f7-4930-8ea4-6fd9f54e044e" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 600
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-600/">
ВСЁ! ПРЕДОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
5&nbsp;Гб в месяц
                </td>
                <td>
600&nbsp;мин.
                </td>
                <td>
300&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="q8a9913d-8fad-4014-ad04-58e1f2024d64" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-600-postoplatnyy/">
ВСЁ! ПОСТОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
10&nbsp;Гб в месяц
                </td>
                <td>
650&nbsp;мин.
                </td>
                <td>
300&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="q7f6c450-7c19-49e3-aa62-283b9204356c" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                    <div class="card-group-item " >


                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 900
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-900-postoplatnyy/">
ВСЁ! ПОСТОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
12&nbsp;Гб в месяц
                </td>
                <td>
1100&nbsp;мин.
                </td>
                <td>
500&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="b6f7f2a3-cad0-4a13-8184-5c8b4dfb90e9" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 1500
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-1500-postoplatnyy/">
ВСЁ! ПОСТОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
20&nbsp;Гб в месяц
                </td>
                <td>
2200&nbsp;мин.
                </td>
                <td>
1000&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="c0d23a73-8d26-4689-a46c-7ff725a4e3d5" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-group-item " >
                    <table>
                        <colgroup>
                            <col width="195">
                            <col width="121">
                            <col width="96">
                            <col width="74">
                            <col width="181">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                
                                Всё за 2700
                                
                            </td>
                            <td class="price">

                            </td>
                        </tr>

                            <tr>
                                <td>

                                    <span class="">
                                    
                                    <a href="/customers/products/mobile/tariffs/details/vse-za-2700-postoplatnyy/">
ВСЁ! ПОСТОПЛАТА
                                    </a>
                                </span>
                                </td>
                                                <td>
30&nbsp;Гб в месяц
                </td>
                <td>
5000&nbsp;мин.
                </td>
                <td>
3000&nbsp;SMS
                </td>

                                <td>
                                    
                                        <div class="submit">
                                            <div class="button common">
                                                <a class="hidden" id="qfe028ba-6216-42d8-a870-ce3d255ad12a" type="link"></a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    </div>


                <div>
                </div>
                        </div><!-- card-group -->
                        <div class="card-footer">

                        </div>
                    </div><!-- rate -->
                </div><!-- card-info-families -->
            </div>
            <!-- catalog-list-card -->
            </div>

            
